*{
    margin: 10px;
    padding: 0;
}
body{
   
    background-color: #614646;
}
h2{
   
    background-color: black;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 50px;
    box-shadow: 0 0 15px 5px rgba(255, 215, 0,  0.8);
    border-radius: 40px;
}
img{
    box-shadow: 0 0 15px 5px rgba(255, 217, 4, 0.986);
}

a{
    font-size: 25px;
    color: black;

}
