*{
    margin: 0;
    padding: 10px;
}
body{
    background-color: aqua;
}
h2{
    background-color: #f0c040;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    padding: 10px 2px;
    border-radius: 8px;
    text-align: center;
   
}

a{
    font-size: 25px;
    color: rgb(0, 0, 0);

}